# Executable files
*.exe
*.out
*.app

# Object files
*.o
*.obj

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Visual Studio Code
.vscode/
*.code-workspace

# Temporary files
*.tmp
*.temp

# System files
.DS_Store
Thumbs.db

# Input/Output files
input.txt
output.txt
